@import url('global.css');

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container__left > img {
  height: 100%;
  width: auto;
}

.container__right {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
}

.container__right > .btn__back {
  position: absolute;
  decoration: none;
  color: var(--info-color);
  left: 32px;
  top: 32px;
}

.container__right > .btn__back:hover {
  opacity: .3;
}

.container__right > .btn__back:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 16px;
  border-radius: 3px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  width: 400px;
}

.content *:not(:last-child, i) {
  margin-bottom: 28px;
}

.form__container {
  width: 100%;
}

.line-center {
  text-align: center;
  position: relative;
  width: 100%;
  z-index: 2;
}

.line-center > span {
  display: inline-block;
  padding: 0 32px;
  margin: 0;
  background: #fff;
  font-weight: bold;
  font-size: 14px;
  color: #9098B1;
}

.line-center:after{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: solid 1px #EBF0FF;
  z-index: -1;
}

.description > a {
  color: #40BFFF;
  font-weight: bold;
  text-decoration: none;
}

.description > a:hover {
  text-decoration: underline;
}

.description > a:focus {
  outline: 2px solid var(--primary-color);
  border-radius: 3px;
}

.input__container {
  display: flex;
  width: 100%;
  margin-bottom: 28px;
  border: 1px solid #EBF0FF;
  border-radius: 5px;
}

.input__container > i {
  padding: 16px;      
  font-size: 20px;
  color: #9098B1;
}

.input__container > input {
  flex: 1;
  border: none;
  padding: 16px;      
  outline: none;
  color: var(--info-color);
  font-size: 14px;
}

.input__container > input::placeholder {
  font-size: 14px;
  color: #9098B1;
}

.input__container:focus-within {
  outline: 2px solid var(--primary-color);
}

@media (max-width: 1066px) {
  .container__left {
    display: none;
  }
}

@media (max-width: 476px) {
  .content {
    width: 80vw;
  }
}
