@import url('reset.css');
@import url('Button.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --primary-color: #6A0000;
  --secondary-color: #DC9000;
  --info-color: #223263;

  --text-2xl: 27px;
  --text-xl: 22px;
  --text-lg: 20px;
  --text-md: 18px;
  --text-sm: 12px;
  
  --size-2xl: 32px;
  --size-xl: 24px;
  --size-lg: 20px;
  --size-md: 16px;
  --size-sm: 8px;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #FFFFFF;
  color: var(--info-color);
  font-weight: 500;
  font-size: var(--text-md);
}

h1 {
  font-size: var(--text-2xl);
}

.title {
  font-size: var(--text-xl);
  font-weight: bold;
}

.subtitle {
  font-size: var(--text-lg);
  font-weight: bold;
}

.description {
  font-size: var(--text-sm);
  color: rgba(34, 50, 99, 0.5);
}
